.smurf-menu {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
    background-color: grey;
    width: 100%;
}

input {
    height: 50px;
}

button {
    height: 50px;
}